<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Site.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/backbone")
    <script type="text/javascript" src="~/Todos.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
